<div class="page-layout simple fullwidth angular-material-elements">

  <!-- HEADER -->
  <div class="header accent p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
    fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <span style="cursor: pointer;" class="secondary-text ml-5" [routerLink]="['/dashboard']">Home</span>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text" [innerHTML]="pageTitle"></span>
      </div>
      <!-- <div class="h2 mt-16" [innerHTML]="pageTitle"></div> -->
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">

    <div class="portlet-body">
      <form fxLayout="column" name="form">
        <div class="px-8" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="0 0 auto">
          <mat-form-field class="p-8" fxLayout="column" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-md="100">
            <mat-label>{{ 'status.status' | translate }}</mat-label>
            <mat-select value="all" (selectionChange)="viewByFilter($event.value)">
              <mat-option [value]="status.value" *ngFor="let status of statusArray">
                {{ status.displayValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <kendo-grid [kendoGridBinding]="txclusiveData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
      [filter]="state.filter" [sortable]="true" [pageable]="true" [filterable]="true">

      <kendo-grid-column field="txclusive_uid" title="Action" width="200" [filterable]="false" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataInstitute>
          <button kendoGridEditCommand [primary]="true" (click)="onView(dataInstitute.txclusive_uid)">View</button>
          &nbsp;&nbsp;
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="txclusive_title" title="Txclusive Name" width="200">
      </kendo-grid-column>

      <kendo-grid-column field="start_date" title="Start Date" width="250" filter="date">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.start_date.seconds*1000 | date: dateFormate }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="end_date" title="End Date" width="250" filter="date">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.end_date.seconds*1000 | date: dateFormate }}</div>
        </ng-template>
      </kendo-grid-column>


      <kendo-grid-column field="txclusive_level" title="Txclusive Level" width="200">
        <ng-template kendoGridCellTemplate let-dataStatus>
          <div *ngIf="dataStatus.txclusive_level != undefined ">
            {{ getTxclusiveLevelName(dataStatus.txclusive_level) }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="txclusive_type" title="Txclusive Type" width="200">
        <ng-template kendoGridCellTemplate let-dataStatus>
          <div *ngIf="dataStatus.txclusive_type != undefined ">
            {{ getTxclusiveTypeName(dataStatus.txclusive_type) }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="institute_uid" title="Institute Name" width="200">
        <ng-template kendoGridCellTemplate let-dataStatus>
          <div *ngIf="dataStatus.institute_uid != undefined ">
            {{ getTxclusiveInstitueId(dataStatus.institute_uid) }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="status" title="Status" width="200" [filterable]="false">
        <ng-template kendoGridCellTemplate let-dataStatus>
          <div *ngIf="dataStatus.status != undefined ">
            {{ getStatusName(dataStatus.status) }}
          </div>
        </ng-template>
      </kendo-grid-column>

    </kendo-grid>


  </div>
</div>
