.institute-label {
    font-weight: bold;
}

.role-assign-box {
    border: 1px solid #dad5d5;
    .assign-inner {
        .left-assign {
            img {
                width: 50px;
            }
        }

        .text-ellipsis {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}