.file-form-field {
    input {
        &[type=file] {
            padding: 0;
        }
    }
}
.loading-btn{
    cursor: not-allowed;
}
.imgTextEllipsis{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
}