<div id="forms" class="page-layout simple fullwidth angular-material-elements">

    <!-- HEADER -->
    <div class="header accent p-24 h-100" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <span style="cursor: pointer;" class="secondary-text ml-5" [routerLink]="['/dashboard']">Home</span>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text" [innerHTML]="headerTitle"></span>
            </div>
            <!-- <div class="h2 mt-16" [innerHTML]="pageTitle"></div> -->
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-12">
        <div fxLayout="column" fxLayoutAlign="start">
            <div fxLayout="column" fxFlex="100">
                <form name="form" fxLayout="row wrap">
                    <mat-form-field class="p-12 pb-0" fxFlex="100" fxFlex.gt-md="50" fxFlex.gt-xs="50">
                        <mat-label>Select Trivia</mat-label>
                        <mat-select #triviaMainType [value]="defaultTrivia">
                            <mat-option *ngFor="let trivia of triviaTypeArray" [value]="trivia.trivia_type">
                                {{trivia.trivia_type_value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="p-12 pb-0" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="50">
                        <mat-label>{{ 'status.status' | translate }}</mat-label>
                        <mat-select value="all" (selectionChange)="viewByFilter($event.value)">
                            <mat-option [value]="status.value" *ngFor="let status of statusArray">
                                {{ status.displayValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div class="p-12 pt-0" *ngIf="triviaMainType.value == 0" fxLayout="column" fxFlex="100">
                <kendo-grid [kendoGridBinding]="triviaQuizData" [data]="triviaData" [pageSize]="state.take"
                    [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true"
                    [filterable]="true">
                    <ng-template kendoGridToolbarTemplate>
                        <button class="pull-right theme=default accent" mat-button (click)="navigateCreateTrivia()">Add
                            Trivia</button>
                    </ng-template>
                    <kendo-grid-column class="text-ellipsis" field="trivia_name" title="Trivia Name" width="250">
                    </kendo-grid-column>

                    <kendo-grid-column field="created_at" title="Created Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.created_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="updated_at" title="Updated Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.updated_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="status" title="Status" width="150" [filterable]="false">
                        <ng-template kendoGridCellTemplate let-dataStatus>
                            <div *ngIf="dataStatus.status == '1'">Active</div>
                            <div *ngIf="dataStatus.status == '0'">Inactive</div>
                        </ng-template>
                    </kendo-grid-column>

                </kendo-grid>
            </div>
            <div class="p-12 pt-0" *ngIf="triviaMainType.value == 1" fxLayout="column" fxFlex="100">
                <kendo-grid [kendoGridBinding]="triviaPollData" [data]="triviaData" [pageSize]="state.take"
                    [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true"
                    [filterable]="true">
                    <ng-template kendoGridToolbarTemplate>
                            <button class="pull-right theme=default accent" mat-button (click)="navigateCreateTrivia()">Add
                                Trivia</button>
                        </ng-template>
                    <kendo-grid-column class="text-ellipsis" field="questions" title="Poll Question" width="250">
                    </kendo-grid-column>

                    <kendo-grid-column field="created_at" title="Created Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.created_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="updated_at" title="Updated Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.updated_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="status" title="Status" width="150">
                        <ng-template kendoGridCellTemplate let-dataStatus>
                            <div *ngIf="dataStatus.status == '1'">Active</div>
                            <div *ngIf="dataStatus.status == '0'">Inactive</div>
                        </ng-template>
                    </kendo-grid-column>

                </kendo-grid>
            </div>
            <div class="p-12 pt-0" *ngIf="triviaMainType.value == 2" fxLayout="column" fxFlex="100">
                <kendo-grid [kendoGridBinding]="triviaQuoteData" [data]="triviaData" [pageSize]="state.take"
                    [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true"
                    [filterable]="true">
                    <ng-template kendoGridToolbarTemplate>
                            <button class="pull-right theme=default accent" mat-button (click)="navigateCreateTrivia()">Add
                                Trivia</button>
                        </ng-template>
                    <kendo-grid-column class="text-ellipsis" field="quotes" title="Quotes" width="250">
                    </kendo-grid-column>

                    <kendo-grid-column field="quote_from" title="Quotes From" width="200">
                    </kendo-grid-column>

                    <kendo-grid-column field="created_at" title="Created Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.created_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="updated_at" title="Updated Date" width="200" filter="date"
                        format="MM/d/yyyy">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <div>{{ dataItem.updated_at.seconds*1000 | date:'MM/d/yyyy' }}</div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column field="status" title="Status" width="150">
                        <ng-template kendoGridCellTemplate let-dataStatus>
                            <div *ngIf="dataStatus.status == '1'">Active</div>
                            <div *ngIf="dataStatus.status == '0'">Inactive</div>
                        </ng-template>
                    </kendo-grid-column>

                </kendo-grid>
            </div>
        </div>

    </div>

    <!-- / CONTENT -->
</div>